/* Heading */
.wrap h1 {
    margin: 1rem 0 !important;
}

/* Wrappers */
.wrap {
	margin: 0;
}

.wcagaat-settings-wrapper {
	display: flex;
    justify-content: space-between;
    gap: 1.5em;
	padding: 1.5em;
	margin: 0 0 0 -20px;
}

/* Sections */
.wcagaat-box-sections {
	width: 100%;
}

.wcagaat-box-row {
	width: 100%;
	background-color: #fff;
    box-shadow: 0 1px 4px #0000001a;
	margin-bottom: 2rem;
}

.wcagaat-column {
    width: 100%;
    margin: 0 0 1.5em;
}

.wcagaat-box-header {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    box-shadow: 0 1px 4px #0001;
}

.wcagaat-box-header h2 {
    overflow: hidden;
    height: 4em;
    margin: 0;
    padding: 0 1.2658227848em;
    font-size: 1.185em;
    font-weight: 600;
    line-height: 4em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wcagaat-box-column .inst {
    margin: 1.5em;
}

.wcagaat-box-content {
    padding: 1.5em;
}

.wcagaat-box-content.has-fields {
	display: flex;
	gap: 1rem;
}

.wcagaat-box-left {
	vertical-align: top;
	width: 20em;
}

.wcagaat-box-left label {
	font-weight: 600;
	font-size: .925em;
}

.wcagaat-box-desc {
	line-height: 1.6;
    opacity: .5;
	font-size: .925em;
	margin-bottom: 0;
}

.wcagaat-box-right {
    vertical-align: top;
    width: calc(100% - 20em);
	display: flex;
    align-items: start;
}

/* Sidebar */
.wcagaat-sidebar {
	max-width: 23em;
}

.wcagaat-sidebar p {
	line-height: 1.6;
	margin: 0 0 1.5em;
}

.wcagaat-sidebar .submit {
	margin: 0;
	padding: 0;
}

.wcagaat-sidebar #submit {
	margin: 0;
    border: 0;
    border-style: solid;
    border-color: #7f7f7f;
    border-bottom-width: .315em;
    padding: 1.15em 1.42em 1.15em 1.485em;
    font-size: .85em;
    font-weight: 600;
    letter-spacing: .065em;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff !important;
    background-color: #9e9e9e;
    border-radius: .45em;
    transition: border-color .3s ease, background-color .3s ease;
    cursor: pointer;
	width: 100%;
}

.wcagaat-sidebar #submit:hover, 
.wcagaat-sidebar #submit:focus, 
.wcagaat-sidebar #submit:active {
    background-color: #ababab;
    box-shadow: none;
    outline: none;
}

/* Fields */
.wcagaat-settings-wrapper input[type="text"],
.wcagaat-settings-wrapper input[type="number"] {
	padding: 1em .75em;
	display: block;
    width: 100%;
    height: 3em !important;
    margin: 0;
    border: 1px solid #d5d5d5;
    font-size: 1em !important;
    font-weight: 600;
    line-height: normal;
    color: #23282d;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px #0000001a;
    transition: none;
	min-height: 30px;
	max-width: 35em;
}

.wcagaat-settings-wrapper input[type="text"]:focus,
.wcagaat-settings-wrapper input[type="number"]:focus {
	border-color: #d5d5d5;
    box-shadow: inset 0 1px 2px #0000001a, 0 0 0 .2em #fff, 0 0 0 .35em #d5d5d5bf;
    outline: none;
}

.wcagaat-toggle {
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 1em;
	font-weight: 400;
	line-height: 1;
	color: #c5c5c5;
	background-color: transparent;
	cursor: pointer;
	outline: 0;
}

.wcagaat-toggle input {
	display: none;
}

.wcagaat-toggle span {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.wcagaat-toggle .label {
	font-size: 1.15em;
	color: #23282d;
	font-weight: 600;
	opacity: 1;
}

.wcagaat-toggle input[type="checkbox"]:not(:checked) ~ span .label {
	opacity: 0.5;
}

.wcagaat-toggle svg {
	display: block;
	width: 1.5em;
	height: 1.5em;
	font-size: 1em;
	stroke: currentColor;
	margin: 0 .5em 0 0;
}

.wcagaat-toggle svg:hover {
	color: #000000;
}

.wcagaat-toggle input:checked + span {
	color: #2ecc71;
}

.wcagaat-box-content.not-applicable {
	display: none;
}

/* Code */
.wcagaat-settings-wrapper code {
    border-radius: 5px;
	white-space: nowrap;
    overflow-wrap: normal;
    word-break: normal;
}